@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: 'cooper_blackregular';
    src: url('Fonts/coopbl-webfont.eot');
    src: url('Fonts/coopbl-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/coopbl-webfont.woff') format('woff'),
         url('Fonts/coopbl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
*********************************
Website Name: Personal Website
Website Author: Cole Dennie
Copyright: 2023 - All Rights Reserved

***********************************
=================
Table Of Contents
=================
1. Header Information
2. Nav Information
3. Body Information

***********************************/



/*** 
Header Information
____________________________________________*/
header {
    background: linear-gradient(90deg, rgba(255,66,42,1) 0%, rgba(255,180,127,1) 100%);
    height: 120px;
}

header > img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 120px;
}

/*** 
Nav Information
____________________________________________*/

.navBar {
    background-color: black;
}
li {
    display: inline;
}
a { 
    padding-left: 20px;
    padding-right: 50px;  
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-style: italic;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: rgb(255, 207, 200);
    font-weight: bolder;
    letter-spacing: 0.1em;
}



/*** 
Body Information
____________________________________________*/

body {
    background-color: #050708;
}


.aboutSection {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
}

.intro {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #16130E;
    border: 4px solid #44392C;

    /* Grid background */
    background-image: linear-gradient(90deg, rgba(142, 103, 68, 0.3) 1px, transparent 1px), linear-gradient(rgba(142, 103, 68, 0.3) 1px, transparent 1px);
    background-size: 20px 20px;

    /* Animation properties */
    width: 100%;
    animation: expandWidth 1s ease-out;
}


.profilePhoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #F69263;
}

.bottomHalf {
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px;
    align-items: center;
    gap: 20px;
    background-color: #332718;
}

h1 {
    font-family: 'cooper_blackregular';
    font-size: 36px;
    color: orange;
}


.bottomHalf h2 {
    font-family: 'cooper_blackregular';
    font-size: 30px;
    color: orange;
    margin-top: 20px;
}

.bottomHalf p, .bottomHalf ul {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

.aboutSection ul {
    list-style-type: square;
    padding-left: 20px;
}

.bottomHalf li {
    display: block;
    margin-bottom: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white;
}


/* ANIMATION */
@keyframes expandWidth {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}