@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: 'cooper_blackregular';
    src: url('Fonts/coopbl-webfont.eot');
    src: url('Fonts/coopbl-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/coopbl-webfont.woff') format('woff'),
         url('Fonts/coopbl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
*********************************
Website Name: Personal Website
Website Author: Cole Dennie
Copyright: 2023 - All Rights Reserved

***********************************
=================
Table Of Contents
=================
1. Header Information
2. Body Information
3. Column 1 Information
4. Column 2 Information
5. Column 3 Information
5. Footer Information

***********************************/


/*** 
Header Information
____________________________________________*/

/*** 
Header Information
____________________________________________*/
header {
    height: 120px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,66,42,1) 0%, rgba(255,180,127,1) 100%);
    
}

header > img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 100%;
    
}


/*** 
Nav Information
____________________________________________*/

.navBar {
    background-color: black;
}
li {
    display: inline;
}
.navItem a {
    padding-left: 20px;
    padding-right: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-style: italic;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

    .navItem a:hover {
        color: rgb(255, 207, 200);
        font-weight: bolder;
        letter-spacing: 0.1em;
    }

/*** 
Body Information
____________________________________________*/

body {
    background-color: #050708;
}

aside {
    float: right;
    background-image: url("Images/ContactImage.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 700px;
    width: 40%;
}

h2 {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'cooper_blackregular';
    font-weight: bold;
    font-size: 40px;
    color: white;
}


section {
    width: 49%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.selection {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.boxed {
    width: 400px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #16130E;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

    .boxed a {
        display: block;
        height: 100%;
        width: 100%;
        color: white;
        text-decoration: none;
    }

    .boxed p {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .boxed i {
        font-size: 60px;
        color: white;
    }

    .boxed:hover {
        background-color: #3b2d1e;
    }






@media screen and (max-width: 990px){
    aside {
        float: none;
        width: 100%;
    }
    section {
        width: 100%;
        float: none;
        margin-left: 0px;
        margin-top: 0px;
    }
    h2 {
        font-size: 80px;
    }

    .selection {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

    
    
}





