  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
  @font-face {
    font-family: 'cooper_blackregular';
    src: url('Fonts/coopbl-webfont.eot');
    src: url('Fonts/coopbl-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/coopbl-webfont.woff') format('woff'),
         url('Fonts/coopbl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
*********************************
Website Name: Personal Website
Website Author: Cole Dennie
Copyright: 2023 - All Rights Reserved

***********************************
=================
Table Of Contents
=================
1. Header Information
2. Nav Information
3. Body Information

***********************************/



/*** 
Header Information
____________________________________________*/
header {
    background: linear-gradient(90deg, rgba(255,66,42,1) 0%, rgba(255,180,127,1) 100%);
    height: 120px;
}

header > img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 120px;
}


/*** 
Nav Information
____________________________________________*/

.navBar {
    background-color: black;
}
li {
    display: inline;
}
a { 
    padding-left: 20px;
    padding-right: 50px;  
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-style: italic;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: rgb(255, 207, 200);
    font-weight: bolder;
    letter-spacing: 0.1em;
}

/*** 
Body Information
____________________________________________*/

body {
    background: linear-gradient(270deg, rgba(214,152,104,1) 0%, rgba(157,72,44,1) 100%);
    padding-bottom: 160px;
}




/* Style for the navigation section */
.navSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
}

.navList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navCategory {
    cursor: pointer;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #E58638;
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
}

/* Gallery styles */
.imageGallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.imageGallery img {
    width: 100%;
    height: auto;
    transition: 0.1s ease-in-out;
}

.imageGallery img:hover{  
    transform: scale(1.8);
}




@media (max-width: 1140px) {

    .ProjectShowcase > ul {
        width: 980px;


    }
    .ProjectImage {
        height: 270px;
        transition: 0.3s;
    }
    }

    @media (max-width: 980px) {

        .ProjectShowcase > ul {
            width: 100%;
        }
        .ProjectImage {
            height: 470px;
            transition: 0.3s;
        }
        }
